/** clients one **/
.clients-logo-section {
    position: relative;
    background: #f5f7fb;
    padding: 75px 0;
}
.clients-logo-section .image img {
    width: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.clients-one .clients-logo-box{
    position: relative;
    text-align: center;
}  
.clients-one .clients-logo-box .overlay-image {
    position: absolute;
    display: block;
    max-width: 100%;
    width: auto;
    margin: 0 auto;
    left: 0px;
    right: 0px;
    top: -30px;
    opacity: 0;
    transition: all 500ms ease;
}  
.clients-one .clients-logo-box:hover .overlay-image{
    top: 0px;
    opacity: 1;
}  
.clients-one .clients-logo-box .overlay-image img{
    opacity: 1;
}  
.clients-one .clients-logo-box img{
    display: block;
    max-width: 100%;
    width: auto;
    margin: 0 auto;
    opacity: 1;
    opacity: 0.6;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}  