.pagination{
    margin-top:30px;
	margin-bottom:30px;
}


.pagination li{
    margin-bottom:10px;
	margin-right:6px;
}


.pagination>a {
    position: relative;
    display: inline-block;
    font-size: 16px;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    color: #141417;
    z-index: 1;
    border: 1px solid #e5e5e5;
    transition: all 500ms ease;
    border-radius: 4px;
    margin-left: 8px;
}
.pagination>a:hover{
    background: #e25712;
    border-color: #e25712;
	color:#fff;
}
.pagination>span{
    position: relative;
    display: inline-block;
    font-size: 16px;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    color: #e25712;
    z-index: 1;
    border: 1px solid #e25712;
    transition: all 500ms ease;
    border-radius: 4px;
    font-weight: 600;
    margin-left: 8px;
}


.pagination .page-numbers {
    position: relative;
    display: inline-block;
    font-size: 16px;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    color: #141417;
    z-index: 1;
    border: 1px solid #e5e5e5;
    transition: all 500ms ease;
    border-radius: 4px;
}
.pagination li .current {
    color: #e35711;
    font-weight: 600;
	border: 1px solid #e25712;
}

.pagination li:hover{
    background: #e25712;
    border-color: #e25712;
    color: #fff!important;
    transition: all 500ms ease;
    border-radius: 4px;
}
.pagination li:hover a{

    color: #fff!important;

}
.pagination .page-numbers.dots:hover{
	background:#fff;
}
.pagination li .current:hover {
    background: #fff;
}